
body {
    background: linear-gradient( #CDFDD3, #1C8424); /* Standard syntax */
	font-family: Roboto;
	background-repeat: no-repeat;
}

#pai {
	position: relative;
	margin: auto;
	width: 62.5%;
	height: 1000px;
	background-color: white;
	border-radius: 30px;
	margin-bottom: 50px;
	padding-bottom: 150px;
}

#cabecalho {
	position: absolute;
	margin-top: -2px;
	width: 100%;
	background-image: url('../imgs/bgCabecalho13.png');
	height: 17.6%;
	background-repeat: no-repeat;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;

}

#logoSalamandra {
	position: absolute;
	background-repeat: no-repeat;
}

/* #logoSalamandra {
	position: absolute;
	width: 100%;
	height: 100%;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
} */

#painel {
	position: absolute;
	border-radius: 30px;
	width: 50%;
	height: 50%;
	display: none;
	z-index: 10;
	background-color: white;
}

#mascara {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	z-index: 5;
	background-color: black;
}

#conteudoSite {
	position: absolute;
	margin-top: 40%;
}

#divNav {
    border: 2px solid #1F4716;
    width: calc(100% - 4px);
	position: absolute;
	margin-top: 17.8%;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 30px;
}

#divNav ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #428C4E;
}

#divNav ul li {
	display: inline;
	float: left;
}

.nav-car a{
	background: url("../imgs/icons/veiculosLogo1.png") no-repeat 10px 3px transparent;
	padding-left: 40px;
	margin-left: 10px;
	margin-right: 10px;
}

.nav-montanha a{
	background: url("../imgs/icons/montanhaRussaLogo.png") no-repeat 10px 3px transparent;
	padding-left: 40px;
	margin-left: 10px;
	margin-right: 10px;
}

.nav-fantasia a{
	background: url("../imgs/icons/fantasiaLogo.png") no-repeat 10px 3px transparent;
	padding-left: 40px;
	margin-left: 10px;
	margin-right: 10px;
}

.nav-educativos a{
	background: url("../imgs/icons/educativoLogo.png") no-repeat 10px 3px transparent;
	padding-left: 40px;
	margin-left: 10px;
	margin-right: 10px;
}

#divNav ul li a {
	text-decoration: none;
	color: #FFFFFF;
}

#divNav ul li a:hover {
	color: #334827;
}

#divNav ul li:hover {
	background: url("../imgs/icons/pointer.gif") no-repeat bottom center transparent;
}

#footer {
	position: absolute;
	margin-left: -15px;
	clear: both;
	width: 100%;
	margin-right: -15px;
	background-color: white;
}

#footerSec {
	background-color: white;
	padding: 0 0 0 50px;
	clear: both;
	font-size: 20px;
	font-family: Helvetica, arial, sans-serif;
}

#footer a {
	text-decoration: none;
}

#conteudoSite img {
	position: relative;
	display: none;
	opacity: 0.5;
	max-width: 100%;
	height: 100%;
}

.imgsHomeCasa, .imgsHomeAviao {
	left: 50%;
}

.imgsHomeBus {
	left: 30%;
}

#textoArquimedes {
	position: absolute;
	opacity: 0;
	font-size: 20px;
	top: 35%;
	left: 100%;
	white-space: nowrap;
}

#textoArquimedes2 {
	position: absolute;
	font-size: 20px;
	opacity: 0;
	top: 37%;
	left: 100%;
	white-space: nowrap;
}

#propaganda {
	position: absolute;
	top: 60%;
	opacity: 0;
	font-size: 20px;
	white-space: nowrap;
}

#imagens {
	position: relative;
	width: 100%;
	height: 100%;
}