
body {
    background: linear-gradient( #CDFDD3, #1C8424); /* Standard syntax */
	font-family: Roboto;
	background-repeat: no-repeat;
}

#pai {
	position: relative;
	margin: auto;
	width: 62.5%;
	height: 1000px;
	background-color: white;
	border-radius: 30px;
	margin-bottom: 50px;
	padding-bottom: 150px;
}

#cabecalho {
	position: absolute;
	margin-top: -2px;
	width: 100%;
	background-image: url('../imgs/bgCabecalho13.png');
	height: 17.6%;
	background-repeat: no-repeat;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;

}

#logoSalamandra {
	position: absolute;
	background-repeat: no-repeat;
}

/* #logoSalamandra {
	position: absolute;
	width: 100%;
	height: 100%;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
} */

#painel {
	position: absolute;
	border-radius: 30px;
	width: 50%;
	height: 50%;
	display: none;
	z-index: 10;
	background-color: white;
}

#mascara {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	z-index: 5;
	background-color: black;
}

#conteudoSite {
	position: absolute;
	margin-top: 40%;
}

#divNav {
    border: 2px solid #1F4716;
    width: calc(100% - 4px);
	position: absolute;
	margin-top: 17.8%;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 30px;
}

#divNav ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #428C4E;
}

#divNav ul li {
	display: inline;
	float: left;
}

.nav-car a{
	background: url("../imgs/icons/veiculosLogo1.png") no-repeat 10px 1px transparent;
	padding-left: 40px;
	margin-left: 3px;
	margin-right: 3px;
}

.nav-montanha a{
	background: url("../imgs/icons/montanhaRussaLogo.png") no-repeat 10px 1px transparent;
	padding-left: 40px;
	margin-left: 3px;
	margin-right: 3px;
}

.nav-fantasia a{
	background: url("../imgs/icons/fantasiaLogo.png") no-repeat 10px 1px transparent;
	padding-left: 40px;
	margin-left: 3px;
	margin-right: 3px;
}

.nav-educativos a{
	background: url("../imgs/icons/educativoLogo.png") no-repeat 10px 1px transparent;
	padding-left: 40px;
	margin-left: 3px;
	margin-right: 3px;
	outline-width: 2px;
	outline-color: red;
}

#divNav ul li a {
	font-size: 29px;
	text-decoration: none;
	color: #FFFFFF;
}

#divNav ul li a:hover {
	color: #334827;
}

#divNav ul li:hover {
	background: url("../imgs/icons/pointer.gif") no-repeat bottom center transparent;
}

#footer {
	position: absolute;
	margin-left: -15px;
	clear: both;
	width: 100%;
	margin-right: -15px;
	background-color: #1C8424;
}

#footerLogo {
	position: absolute;
	background-color: #4DA646;
	padding: 8px 0 0 50px;
	clear: both;
	height: 155px;
	width: calc(20% - 50px);
	font-size: 16px;
	text-align: center;
	font-family: Helvetica, arial, sans-serif;
	border-top: 4px solid #095101;
}

#footerLogo hr {
	border-color: black;
}

#infos {
	position: absolute;
	height: 155px;
	background-color: #4DA646;
	margin-left: 20%;
	padding: 8px 0 0 50px;
	width: calc(80% - 43px);
	clear: both;
	font-size: 20px;
	font-family: Helvetica, arial, sans-serif;	
	border-top: 4px solid #095101;
}

#conteudoSite img {
	position: relative;
	display: none;
	opacity: 0.5;
	max-width: 100%;
	height: 100%;
}

.imgsHomeCasa, .imgsHomeAviao {
	left: 50%;
}

.imgsHomeBus {
	left: 30%;
}

#textoArquimedes {
	position: absolute;
	opacity: 0;
	font-size: 20px;
	top: 35%;
	left: 100%;
	white-space: nowrap;
	color: white;
	text-shadow: 1px 1px 4px black, 0 0 4px black;
	font-family: helvetica, arial;
}

#textoArquimedes2 {
	position: absolute;
	font-size: 20px;
	opacity: 0;
	top: 37%;
	left: 100%;
	white-space: nowrap;
	color: white;
	text-shadow: 1px 1px 4px black, 0 0 4px black;
	font-family: helvetica, arial;
}

#propaganda {
	position: absolute;
	top: 60%;
	opacity: 0;
	font-size: 20px;
	white-space: nowrap;
	color: white;
	text-shadow: 1px 1px 4px black, 0 0 4px black;
	font-family: helvetica, arial;
}

#imagens {
	position: relative;
	width: 100%;
	height: 100%;
}

#nomeLoja {
	position: relative;
	left: 25%;
	padding-top: 10px;
	color: white;
	font-weight: bolder;
	width: 50%;
	font-size: 30px;
}

#endereco {
	position: absolute;
	width: 50%;
	margin-left: 5%;
	font-weight: 400;
	font-size: 25px;
	top: 45%;
}

#telefone {
	position: absolute;
	padding-left: 9%;
	width: 25%;
	left: 53%;
	top: 55%;
	font-size: 25px;
	border-left: 2px solid black;
}

#infos div {
	font-family: roboto;
}